{%extends 'base.html' %}



{%block content %}

<div class="container">
    <h1>Login</h1>
    <form autocomplete="off" method="post" action="" enctype="multipart/form-data">
        {% for field in userform %}
        <div class="form-control">
         <label>{{field.label}}</label>
        {{field}}
        </div>    
        {%endfor%}  
        <button class="btn">Login</button>
        <p class="text">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
</div>
{%endblock%}