{%extends 'base.html' %}



{%block content %}

<div class="container">
    <h1 class="header">Login</h1>
    <form autocomplete="off" method="post" action="" enctype="multipart/form-data">
        {%csrf_token%}
        {% for field in userform %}
        <div class="form-control" style="margin-top: 10px;">
        <div class="inputfields">
      
        <label>{{field.label}}</label>
              
        {{field}}  
        </div>
             
        </div>           
        {%endfor%} 

        {%if messages%}
        {%for message in messages%}
        <div id="alertmsg">
        {{ message }}
        </div>
        {%endfor%}
        {%endif%}   

        <div class="btn-container">
            <button type="submit" class="btn btn-success">Login</button>
        </div>     
   
        
        <div class="form-links">
            <p class="text">Don't have an account? <a href="{% url 'register' %}">Register</a><br>
            Forgot Password? <a href="{% url 'resetpass' %}">Reset Password</a>
            </p>

        </div>
        
    </form>
</div>
{%endblock%}