{% extends 'base.html'%}


{%block content %}

<div class="container">
    <h1 class="header">Register</h1>
    <form method="post" enctype="multipart/form-data" action="">
        {%csrf_token%}
        {% for field in userform %}
        <div class="form-control" style="margin-top: 10px;" >
            <div class="inputfields">
            <label>{{field.label}}</label> 
            {{field}}
            </div>
            {% if field.errors%}
            {{field.errors}}
            {%endif%}
        </div>   
        {%endfor%}  
        <div  class="btn-container">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="form-links">
        <p class="text">Have an account? <a href="{% url 'login' %}">Login</a></p>    
        </div>
    </form>
</div>
{%endblock%}