{% extends 'base.html'%}


{%block content %}

<div class="flex justify-center items-center h-screen m-25">
    <form class="block max-w-sm w-full " method="post" action="" autocomplete="off">
      <h1 class="flex justify-center items-center text-4xl">Login</h1>
      {% csrf_token %}
      {% for user in userform %}
      <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">{{user.label}}</label>
        {{user}}
      </div> 
      {%endfor%}   
    </form>
  </div>
{%endblock%}